<form [formGroup]="signupForm" (ngSubmit)="onSignUp()" class="needs-validation">
  <div [cFormFloating]="true" class="mb-3">
    <input cFormControl [valid]="valid" formControlName="name" id="pmname" type="text" placeholder="Nome" required />
    <label cLabel for="name">Nome</label>
  </div>
  <div cFormFloating>
    <input cFormControl [valid]="valid" formControlName="email" id="email" type="email" placeholder="E-mail" required />
    <label cLabel for="password">E-mail</label>
  </div>

  <button type="submit" [disabled]="loading" [class.disabled]="loading">Enviar</button>
</form>
