<mat-form-field appearance="outline" class="search" [class.no-margin]="noMargin">
  <span matPrefix>
    <svg [cIcon]="icons.cilSearch" size="lg"></svg>
  </span>

  <input matInput (keyup)="applyFilter($event)" placeholder="Buscar">
</mat-form-field>

<c-container class="scroll-x" fluid>
  <table mat-table [dataSource]="dataSource" matSort class="table stripe">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
      <td mat-cell *matCellDef="let position">{{ position.id }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
      <td mat-cell *matCellDef="let position">
        <span class="edit" (click)="editPosition(position.id)">{{ position.name }}</span></td>
    </ng-container>

    <ng-container matColumnDef="mananger">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Gestor</th>
      <td mat-cell *matCellDef="let position">
        @if(position.mananger) {
          <c-avatar [src]="position.mananger.pictureId ? apiUrl + '/images/' + position.mananger.pictureId : './assets/images/avatars/default.png'" />
          {{ position.mananger.name }}
        } @else {
          n/a
        }
      </td>
    </ng-container>

    <ng-container matColumnDef="updatedAt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Modificado</th>
      <td mat-cell *matCellDef="let position">{{ position.updatedAt | date: "dd/MM/yyyy" : '-0300' }}</td>
    </ng-container>

    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Criado</th>
      <td mat-cell *matCellDef="let position">{{ position.createdAt | date: "dd/MM/yyyy" : '-0300' }}</td>
    </ng-container>

    <ng-container matColumnDef="buttons">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let position" class="btn-container multiple">
        <button cButton (click)="editPosition(position.id)" color="secondary" class="custom-btn">
          <svg [cIcon]="icons.cilPencil" size="sm"></svg>
        </button>

        <button cButton cModalToggle="position-delete-modal-{{ position.id }}" color="secondary" class="custom-btn delete">
          <svg [cIcon]="icons.cilX" size="sm"></svg>
        </button>

        <!-- <app-position-delete-modal (deactivateTask)="deactivatePosition($event)" [position]="position"></app-position-delete-modal> -->
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let position; columns: displayedColumns"></tr>
  </table>
</c-container>

<mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 30]" class="pagination"></mat-paginator>
