.edit {
  cursor: pointer;

  &:hover {
    color: #285ea5;
  }
}

.avatar-fix {
  display: flex;
  align-items: flex-start;
  gap: 0;
  margin-left: 4px;

  c-avatar {
    width: 32px;
    margin: 0 -8px 0 0;

    .avatar-img {
      margin-right: 0;
    }
  }
}

.grey {
  color: var(--cui-secondary-color);
}
