<c-smart-table
  [items]='data'
  [loading]='loading'
  [pagination]='true'
  [itemsPerPage]='10'
  [itemsPerPageSelect]='true'
  [itemsPerPageOptions]='[10, 20, 30]'
  [columnSorter]='true'
  [columns]='columns'
  [tableFilter]='true'
  [tableFilterValue]='tableFilterValue'
  [tableProps]='{ hover: true, responsive: true }'
  [tableBodyProps]="{ align: 'middle' }"
  itemsPerPageLabel='Itens por página'
  tableFilterLabel=''
  tableFilterPlaceholder='Buscar...'
  noItemsLabel='Nenhum departamento encontrado.'
  (tableFilterValueChange)='tableFilterValue = $event'
  (rowClick)='openDepartment($event)'
  header
  clickableRows
  class='step-flow-table administration-smart-table administration-wide-search'
>
  <ng-template cTemplateId='columnLabel_all' let-column><span class='custom-header'>{{ column.label }}</span></ng-template>
  <ng-template cTemplateId='tableData' let-columnName='columnName' let-item='item' let-tdContent='tdContent'>
    <td class='custom-td'>
      @switch (columnName) {
        @case ('id') { <span class='id-field'>{{ item.id | number:'3.0-0' }}</span> }
        @case ('name') {
          <div class='department-cell'><strong>{{ item.name }}</strong></div>
        }
        @case ('manangers') {
          <div class='manager-cell'>
            @for (manager of item.manangers; track manager.id) {
              <c-avatar [title]='manager.name' [src]="manager.picture ? apiUrl + '/images/' + manager.picture.id : './assets/images/avatars/default.png'"></c-avatar>
            } @empty { <span class='empty-value'>Sem gestores</span> }
          </div>
        }
        @case ('updatedAt') { <div class='date-field'><strong>{{ item.updatedAt | date:'dd/MM/yyyy':'-0300' }}</strong><span>{{ item.updatedAt | date:'HH:mm':'-0300' }}</span></div> }
        @case ('createdAt') { <span class='created-field'>{{ item.createdAt | date:'dd/MM/yyyy':'-0300' }}</span> }
        @case ('actions') {
          @if (!hideDeactiveButton) {
            <div class='action-cell' (click)='$event.stopPropagation()'>
              <button cButton type='button' cModalToggle='position-delete-modal-{{ item.id }}' color='secondary' class='table-action danger' aria-label='Desativar departamento'><svg [cIcon]='icons.cilX' size='sm'></svg></button>
              <app-position-delete-modal (deactivateTask)='deactivatePosition($event)' [position]='item'></app-position-delete-modal>
            </div>
          }
        }
        @default { {{ tdContent }} }
      }
    </td>
  </ng-template>
</c-smart-table>
