            <div class="sof-scroll-container">
                <div class="sof-scroll">
                  <div class="sof-table-container sof-table-scroll">
                    <table class="sof-table">
                      <thead>
                        <tr>
                          <th>Código</th>
                          <th>Descrição</th>
                          <th>QTD</th>
                          @if (showMoney) {
                            <th>Total</th>
                          }
                        </tr>
                      </thead>
                      <tbody>
                        @for (item of order.items; track item.id) {
                          <tr>
                            <td class="t-order">{{ item.code }}</td>
                            <td class="t-description">
                              @if (showMoney) {
                                <span>{{ item.description | truncate: 38 }}</span>
                                <small class="t-value">R$ {{ item.unitPrice | number:'1.2-2':'pt-BR' }} / {{ item.unit }}</small>
                              } @else {
                                <span>{{ item.description }}</span>
                              }
                            </td>
                            <td>{{ item.producedQuantity }}/{{ item.quantity }}</td>
                            @if (showMoney) {
                              <td class="t-money">R$ {{ item.total | number:'1.2-2':'pt-BR' }}</td>
                            }
                          </tr>
                        }
                      </tbody>
                    </table>
                  </div>

                  @if (showMoney) {
                    <div class="sof-table-container">
                      <table class="sof-table sof-table-total">
                        <thead>
                          <tr>
                            <th>Informações de envio</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>
                              <span>Transportadora</span>
                              <span>{{ order.carrier ? order.carrier : "-" }}</span>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <span>Frete</span>
                              <span><strong>R$ {{ order.shipment | number:'1.2-2':'pt-BR' }}</strong></span>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>

                    <div class="sof-table-container">
                      <table class="sof-table sof-table-total">
                        <thead>
                          <tr>
                            <th>Resumo financeiro</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>
                              <span>Subtotal</span>
                              <span>R$ {{ order.subtotal | number:'1.2-2':'pt-BR' }}</span>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <span>Desconto</span>
                              <span>R$ {{ order.discount | number:'1.2-2':'pt-BR' }}</span>
                            </td>
                          </tr>
                          <tr class="sof-total">
                            <td>
                              <span>Total do Pedido</span>
                              <span class="sof-total-value">R$ {{ order.total | number:'1.2-2':'pt-BR' }}</span>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  }
                </div>
