<c-row>
  <c-col xs="12">
    <c-card class="border">
      <c-card-body class="user-config-spinner">
        <h4 cCardTitle>Configurações</h4>
        <div>
          <ngx-spinner name="userConfigSpinner" bdColor="#fff" size="default" color="#0053b0" type="ball-clip-rotate" [fullScreen]="false"></ngx-spinner>
          @if (loaded && userData) {
            <app-user-config-form
              [userData]="userData"
              (editTask)="updateConfig($event)">
            </app-user-config-form>
          }
        </div>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
