c-row {
  padding-bottom: 24px;
}

c-tabs.header-space {
  margin-top: 20px;
}

button {
  margin: 10px 0 20px 0;

  &:not(.hide).close-button {
    display: flex;
    gap: 4px;
  }
}

.close-icon {
  color: var(--cui-nav-link-color);
  width: 14px !important;
  height: 14px !important;

  &:hover {
    color: red;
  }
}

.hide {
  display: none;
}

.remove-outline {
  outline: none;
}

@media screen and (max-width: 720px) {
  button {
    margin: 0 0 74px 0;
  }
}
