<c-smart-table
  [items]='data'
  [loading]='loading'
  [pagination]='false'
  [tableFilter]='{ external: true }'
  [tableFilterValue]='searchValue'
  (tableFilterValueChange)='onFilterValueChange($event)'
  (sorterValueChange)='onSorterValueChange($event)'
  (itemsPerPageChange)='itemsPerPageChange.emit($event)'
  [columnSorter]='true'
  [sorterValue]='sorterValue'
  [columns]='columns'
  [itemsPerPageSelect]='true'
  [itemsPerPageOptions]='[10, 20, 30]'
  [tableProps]='{ hover: true, responsive: true }'
  [tableBodyProps]="{ align: 'middle' }"
  itemsPerPageLabel='Itens por página'
  tableFilterLabel=''
  tableFilterPlaceholder='Buscar...'
  noItemsLabel='Nenhum memorando encontrado.'
  (rowClick)='openMemorando($event)'
  header
  clickableRows
  class='step-flow-table administration-smart-table administration-wide-search search-cleaner-inline memorando-smart-table'
>
  <ng-template cTemplateId='tableCustomHeader'>
    <div class='custom-table-header memorando-filter-bar col-auto p-0'>
      @if (showStatusFilters) {
        <div class='status-filter' role='group' aria-label='Filtrar memorandos por status'>
          <button type='button' [class.active]='selectedStatus === undefined' (click)='selectStatus()'>Todos</button>
          <button type='button' [class.active]='selectedStatus === "PUBLISH"' (click)='selectStatus("PUBLISH")'>Ativos</button>
          <button type='button' [class.active]='selectedStatus === "APPROVED"' (click)='selectStatus("APPROVED")'>Aprovados</button>
          <button type='button' [class.active]='selectedStatus === "CANCELED"' (click)='selectStatus("CANCELED")'>Cancelados</button>
        </div>
      }
      <button
        type='button'
        class='clear-filter'
        (click)='clearAll.emit()'
        title='Limpar filtros'
        aria-label='Limpar filtros'
      >
        <svg width='20' height='20' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2'>
          <path d='M12.531 3H3a1 1 0 0 0-.742 1.67l7.225 7.989A2 2 0 0 1 10 14v6a1 1 0 0 0 .553.895l2 1A1 1 0 0 0 14 21v-7a2 2 0 0 1 .517-1.341l.427-.473'></path>
          <path d='m16.5 3.5 5 5'></path>
          <path d='m21.5 3.5-5 5'></path>
        </svg>
      </button>
      <label
        class='full-text-option'
        cTooltip='Busca as informações de cliente, título, descrição, motivo, itens e autor dos registros de Memorando.'
        cTooltipPlacement='top'
      >
        <input type='checkbox' [checked]='fullText' (change)='onFullTextChange($event)'>
        <span>Busca avançada</span>
      </label>
    </div>
  </ng-template>

  <ng-template cTemplateId='columnLabel_all' let-column>
    <span class='custom-header'>{{ column.label }}</span>
  </ng-template>

  <ng-template cTemplateId='tableData' let-columnName='columnName' let-item='item' let-tdContent='tdContent'>
    <td class='custom-td'>
      @switch (columnName) {
        @case ('number') {
          <span class='number-field'>
            @if (item.number && item.createAt) { {{ item.number }}/{{ item.createAt | date:'yyyy':'-0300' }} } @else { n/a }
          </span>
        }
        @case ('request') { <span class='request-field'>{{ item.request }}</span> }
        @case ('client') { <span class='client-field' [title]='item.client'>{{ item.client }}</span> }
        @case ('status') {
          <span
            class='badge'
            [class.simple]='item.status === "CREATED"'
            [class.inProgress]='item.status === "PUBLISH"'
            [class.complete]='item.status === "APPROVED"'
            [class.late]='item.status === "CANCELED"'
          >
            <span class='bullet'></span>
            @switch (item.status) {
              @case ('CREATED') { Rascunho }
              @case ('PUBLISH') { Ativo }
              @case ('APPROVED') { Aprovado }
              @case ('CANCELED') { Cancelado }
            }
          </span>
        }
        @case ('signatureSummary') {
          <div class='signature-cell'>
            @for (signature of item.signatureSummary; track signature.id) {
              <c-avatar [title]='signature.name' [src]="signature.picture ? apiUrl + '/images/' + signature.picture.id : './assets/images/avatars/default.png'"></c-avatar>
            } @empty { <span class='empty-value'>n/a</span> }
          </div>
        }
        @case ('createAt') {
          <span class='date-field'>{{ item.createAt ? (item.createAt | date:'dd/MM/yyyy':'-0300') : 'n/a' }}</span>
        }
        @default { {{ tdContent }} }
      }
    </td>
  </ng-template>
</c-smart-table>
