<ng-container>
  <c-container [fluid]="true" class="border-bottom px-4">
    <button
      [cSidebarToggle]="sidebarId()"
      cHeaderToggler
      class="btn"
      toggle="visible"
      style="margin-inline-start: -14px;"
      aria-label="Toggle sidebar navigation"
    >
      <svg [cIcon]="icons.cilMenu" size="lg"></svg>
    </button>

    <app-layout-button-search (openModal)="openProjectSearchModal()"></app-layout-button-search>

    <c-header-nav class="d-none d-md-flex ms-auto">
      <c-dropdown alignment="end" class="fix">
        <button cButton cDropdownToggle color="link" class="position-relative icon-notify bell" [class.fix]="!websocket.unreadCount()">
          <svg [cIcon]="icons.cilBell" class="my-1" size="lg"></svg>
          @if (websocket.unreadCount()) {
            <c-badge color="danger" position="bottom-end" shape="rounded-pill" class="custom-badge">{{ websocket.unreadCount() }}</c-badge>
          }
        </button>
        @if (websocket.notifications().length) {
          <div cDropdownMenu class="no-padding-top notification">
            @for (notification of websocket.notifications(); track notification.id) {
              <div class="notification-container" [class.is-new]="!notification.viewed" (click)="openNotification(notification)">

                @if (notification.createdBy) {
                  <c-avatar class="fix-avatar-width" [src]="notification.createdBy.picture ? apiUrl + '/images/' + notification.createdBy.picture.id : './assets/images/avatars/default.png'" />
                }
                @if (!notification.createdBy) {
                  <svg [cIcon]="icons.cilPaperclip" class="custom-icon" title="List Icon"></svg>
                }

                <div class="text">
                  <span [class.bold]="!notification.viewed" class="created-by">{{ notification.createdBy ? notification.createdBy.name : '' }}</span>
                  <small>{{ notification.createdAt | timeAgo }}</small>
                  <span [class.bold]="!notification.viewed" class="title">{{ notification.message }}</span>
                </div>
              </div>
            }
          </div>
        }
      </c-dropdown>
    </c-header-nav>

    <c-header-nav class="ms-auto ms-md-0">
      <ng-container *ngTemplateOutlet="themeDropdown" />
      <div class="nav-item py-1">
        <div class="vr h-100 mx-2 text-body text-opacity-75"></div>
      </div>
    </c-header-nav>

    <c-header-nav class="mx-0">
      <ng-container *ngTemplateOutlet="userDropdown" />
    </c-header-nav>

  </c-container>
  <c-container [fluid]="true" class="px-4">
    <c-breadcrumb-router />
  </c-container>
</ng-container>

<ng-template #userDropdown>
  <c-dropdown [popperOptions]="{ placement: 'bottom-start' }" variant="nav-item">
    <button [caret]="false" cDropdownToggle class="py-0 pe-0 flex" aria-label="Open user menu">
      <span>{{ user.name }}</span>
      <c-avatar
        shape="rounded-1"
        size="md"
        [src]="user.pictureId ? apiUrl + '/images/' + user.pictureId : './assets/images/avatars/default.png'"
        status="success"
        textColor="primary"
        alt="User avatar"
      />
    </button>
    <ul cDropdownMenu class="fix-width">
      <li>
        @if (user.supportToken) {
          <a cDropdownItem [href]="'http://suporte.metaro.com.br/autologin.php?token=' + user.supportToken" target="_blank">
            <svg [cIcon]="icons.cilCommentBubble" class="me-2"></svg>
            Suporte
            <c-badge class="ms-2 float-end" color="info">link</c-badge>
          </a>
        } @else {
          <a cDropdownItem href="http://suporte.metaro.com.br" target="_blank">
            <svg [cIcon]="icons.cilCommentBubble" class="me-2"></svg>
            Suporte
          </a>
        }
      </li>
      <li>
        <a cDropdownItem routerLink="/config">
          <svg [cIcon]="icons.cilSettings" class="me-2"></svg>
          Configurações
        </a>
      </li>
      <a cDropdownItem routerLink="/login">
        <svg [cIcon]="icons.cilAccountLogout" class="me-2"></svg>
        Sair
      </a>
    </ul>
  </c-dropdown>
</ng-template>

<ng-template #themeDropdown>
  <c-dropdown alignment="end" variant="nav-item" class="fix">
    <button [caret]="false" cDropdownToggle aria-label="Open theme picker">
      <svg [cIcon]="getIcon()" size="lg"></svg>
    </button>
    <div cDropdownMenu>
      @for (mode of colorModes; track mode.name) {
        <button
          (click)="colorMode.set(mode.name)"
          [active]="colorMode()===mode.name"
          cDropdownItem
          class="d-flex align-items-center"
        >
          <svg [cIcon]="mode.icon" class="me-2" size="lg"></svg>
          {{ mode.text }}
        </button>
      }
    </div>
  </c-dropdown>
</ng-template>
