<c-card class="border">
  <img cCardImg="top" [src]="apiUrl + '/images/' + event.picture.id" />
  <div class="date">
    <div class="month">{{ event.eventDate | date: "MMM" : '-0300' }}</div>
    <div class="day">{{ event.eventDate | date: "dd" : '-0300' }}</div>
  </div>

  <c-card-body>
    <h6 cCardTitle>{{ event.title }}</h6>
    <p cCardText>
      <small class="text-medium-emphasis">
        {{ event.eventDate | date: "dd MMM, y 'às' HH:mm" : '-0300' }}
      </small>
      </p>
  </c-card-body>
</c-card>
