<div class="custom-offcanvas-backdrop" [class.active]="visible" (click)="close()"></div>

<div class="sof-custom-offcanvas" [class.visible]="visible">
  @if (order != null) {
    <div class="sof-custom-header">
      <div class="sfo-info">
        <div class="flex">
          <div class="sfo-status">
            <span class="sof-order">#{{ order.number }}</span>
            <span class="badge sof-badge" [class.late]="order.status == 'Atrasado'" [class.cancel]="order.status == 'Cancelado'" [class.complete]="order.status == 'Concluído'">
              <div class="bullet"></div>
              {{ order.status }}
            </span>
          </div>
          <button cButtonClose (click)="close()"></button>
        </div>

        <c-accordion [flush]="true">
          <c-accordion-item #item0="cAccordionItem" [visible]="false">
            <ng-template cTemplateId="accordionHeaderTemplate">
              <button cAccordionButton [collapsed]="!item0.visible" (click)="item0.toggleItem()" class="sof-accordion-button">
                <div class="sof-business">
                  <span class="sof-title">{{ order.client }}</span>
                </div>
              </button>
            </ng-template>
            <ng-template cTemplateId="accordionBodyTemplate">
              <div class="sof-client-order">
                <div class="sof-filed">
                  <span class="sof-field-label">CNPJ</span>
                  <span class="sof-field-value">{{ order.cnpj }}</span>
                </div>

                <div class="sof-filed">
                  <span class="sof-field-label">Valor</span>
                  @if (showMoney) {
                    <span class="sof-field-value">R$ {{ order.subtotal | number:'1.2-2':'pt-BR' }}</span>
                  } @else {
                    <span class="sof-field-value">R$ -</span>
                  }
                </div>

                <div class="sof-filed">
                  <span class="sof-field-label">Telefone</span>
                  <span class="sof-field-value">{{ order.phone }}</span>
                </div>

                <div class="sof-filed">
                  <span class="sof-field-label">Vendedor</span>
                  <span class="sof-field-value">{{ order.seller }}</span>
                </div>

                <div class="sof-filed">
                  <span class="sof-field-label">Emissão</span>
                  <span class="sof-field-value">{{ order.startDate | date:'dd/MM/yyyy' }}</span>
                </div>

                <div class="sof-filed">
                  <span class="sof-field-label">Prev. Entrega</span>
                  <span class="sof-field-value">{{ order.dueDate | date:'dd/MM/yyyy' }}</span>
                </div>

                <div class="sof-filed last">
                  <span class="sof-field-label">Endereço de Entrega</span>
                  <span class="sof-field-value">{{ order.address }}</span>
                </div>
              </div>
            </ng-template>
          </c-accordion-item>
        </c-accordion>
      </div>
    </div>
  }

  <div class="sof-custom-body">
    @if (order != null) {
      <c-tabs [activeItemKey]="0" class="sof-custom-tab">
        <c-tabs-list variant="underline-border">
          <button cTab [itemKey]="0">Timeline</button>
          <button cTab [itemKey]="1">Itens do Pedido</button>
          <button cTab [itemKey]="2">Arquivos</button>
        </c-tabs-list>

        <c-tabs-content>
          <c-tab-panel [itemKey]="0">
            <app-step-flow-timeline [order]="order" />
          </c-tab-panel>

          <c-tab-panel [itemKey]="1">
            <app-step-flow-order-items [order]="order" [showMoney]="showMoney" />
          </c-tab-panel>

          <c-tab-panel [itemKey]="2">
            <app-step-flow-media-list [order]="order" (openVideo)="onOpenVideoModal($event)" />
          </c-tab-panel>
        </c-tabs-content>
      </c-tabs>
    } @else {
      <i class="custom-error">Pedido não encontrado!</i>
    }

    <div class="timeline-footer">
      @if (order != null) {
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="2">
          <path d="M20 10c0 4.993-5.539 10.193-7.399 11.799a1 1 0 0 1-1.202 0C9.539 20.193 4 14.993 4 10a8 8 0 0 1 16 0" />
          <circle cx="12" cy="10" r="3"></circle>
        </svg>
        <span>Etapa atual:</span> {{ order.currentStep }}
      }
      <button cButton color="primary" (click)="getData()" class="refresh-btn">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="M3 12a9 9 0 0 1 9-9 9.75 9.75 0 0 1 6.74 2.74L21 8"/>
          <path d="M21 3v5h-5"/>
          <path d="M21 12a9 9 0 0 1-9 9 9.75 9.75 0 0 1-6.74-2.74L3 16"/>
          <path d="M8 16H3v5"/>
        </svg>
        Atualizar
      </button>
    </div>
  </div>
</div>

<app-video-modal [visible]="showVideoModal" [video]="selectedVideo" (close)="onCloseVideoModal()"></app-video-modal>
