<c-modal [visible]="visible" alignment="center" backdrop="static" id="newMemorandoModal" >
  <form [formGroup]="newMemorandoForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <c-modal-header>
      <svg [cIcon]="icons.cilPencil" class="modal-title-icon" size="lg"></svg>
      <h5 cModalTitle>Nova comunicação interna</h5>
      <button (click)="closeMemorandoModal()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>

    <label cLabel for="orderNumber">Número do pedido</label>
    <input cFormControl formControlName="orderNumber" [valid]="!showErrors ? undefined: newMemorandoForm.get('orderNumber')?.errors != null ? false : undefined" id="orderNumber" type="text" />
    @if (showErrors && newMemorandoForm.get('orderNumber')?.errors != null) {
      <div class="text-danger">
        Escreva um número de pedido válido!
      </div>
    }

    </c-modal-body>
    <c-modal-footer>
      <button cButton color="secondary" (click)="closeMemorandoModal()">Cancelar</button>
      <button cButton color="primary" type="submit">Continuar</button>
    </c-modal-footer>
  </form>
</c-modal>
