<c-smart-table
  [items]='data'
  [loading]='loading'
  [pagination]='true'
  [itemsPerPage]='10'
  [itemsPerPageSelect]='true'
  [itemsPerPageOptions]='[10, 20, 30]'
  [columnSorter]='true'
  [columns]='columns'
  [cleaner]='true'
  [tableFilter]='true'
  [tableFilterValue]='tableFilterValue'
  [tableProps]='{ hover: true, responsive: true }'
  [tableBodyProps]="{ align: 'middle' }"
  itemsPerPageLabel='Itens por página'
  tableFilterLabel=''
  tableFilterPlaceholder='Buscar...'
  noItemsLabel='Nenhum usuário encontrado.'
  (tableFilterValueChange)='tableFilterValue = $event'
  (rowClick)='openUser($event)'
  header
  clickableRows
  class='step-flow-table administration-smart-table administration-wide-search search-cleaner-inline'
>
  <ng-template cTemplateId='columnLabel_all' let-column>
    <span class='custom-header'>{{ column.label }}</span>
  </ng-template>

  <ng-template cTemplateId='tableData' let-columnName='columnName' let-item='item' let-tdContent='tdContent'>
    <td class='custom-td'>
      @switch (columnName) {
        @case ('name') {
          <div class='identity-cell'>
            <c-avatar [src]="item.pictureId ? apiUrl + '/images/' + item.pictureId : './assets/images/avatars/default.png'"></c-avatar>
            <span><strong>{{ item.name }}</strong><small>{{ item.email }}</small></span>
          </div>
        }
        @case ('username') { <span class='username-field'>{{ item.username }}</span> }
        @case ('position') { <span class='badge simple'>{{ item.position || 'Sem cargo' }}</span> }
        @case ('email') { <span class='email-field'>{{ item.email }}</span> }
        @case ('updateAt') {
          <div class='date-field'><strong>{{ item.updateAt | date:'dd/MM/yyyy':'-0300' }}</strong><span>{{ item.updateAt | date:'HH:mm':'-0300' }}</span></div>
        }
        @case ('actions') {
          @if (!hideDeactiveButton) {
            <div class='action-cell' (click)='$event.stopPropagation()'>
              <button cButton type='button' cModalToggle='staticBackdropModal-{{ item.id }}' color='secondary' class='table-action danger' aria-label='Desativar usuário'><svg [cIcon]='icons.cilX' size='sm'></svg></button>
              <app-user-delete-modal (deactivateTask)='deactivateUser($event)' [user]='item'></app-user-delete-modal>
            </div>
          }
        }
        @default { {{ tdContent }} }
      }
    </td>
  </ng-template>
</c-smart-table>
