<c-container>
  @if (fatalError) {
    <p>Erro ao carregar informações</p>
  } @else {

    @if (homeInfo) {
      @if (isAdmin) {
        <div class="admin-button">
          <button cButton color="primary" (click)="clearCache()">Limpar cache</button>
        </div>
      }

      @if (user) {
        <app-hello
          [userName]="user.name"
          [userEmail]="user.email"
          [fileCount]="homeInfo.files.length"
          [upcomingEvents]="homeInfo.upcomingEvents"
          [openOrders]="homeInfo.openOrders"
          [openMemorandos]="homeInfo.openMemorandos"
        ></app-hello>
      }

      <div class="home-container">
        <div class="home left">
          @if (homeInfo.files.length) {
            <app-files [files]="homeInfo.files" class="card"></app-files>
          }

          @if (homeInfo.monthBirthdays.length) {
            <app-birthdays [monthBirthdays]="homeInfo.monthBirthdays" [todayBirthdays]="homeInfo.todayBirthdays"></app-birthdays>
          }

          @if (homeInfo.event) {
            <app-event [event]="homeInfo.event" class="card sticky-card"></app-event>
          }
        </div>

        <div class="home right">
          @if (canPost) {
            <app-new-post (publishTask)="insertPost($event)" [user]="user"></app-new-post>
          }

          @for (post of homeInfo.feed; track post.id) {
            <app-post [canPost]="canPost" [post]="post" (editTask)="toggleEditModal($event, true)" (deleteTask)="toggleDeleteModal($event, true)" class="card"></app-post>
          }
        </div>
      </div>
    } @else {
      <p>Nenhum dado encontrado!</p>
    }
  }
</c-container>

<app-delete-post-modal [visible]="showDeleteModel" [id]="idPostToDelete" (closeTask)="toggleDeleteModal(0, false)" (deleteTask)="deletePost($event)"></app-delete-post-modal>
