@use "@coreui/coreui/scss/mixins/transition" as *;
@use "@coreui/coreui/scss/mixins/color-mode" as *;

body {
  background-color: var(--cui-tertiary-bg);
}

.wrapper {
  width: 100%;
  padding-inline: var(--cui-sidebar-occupy-start, 0) var(--cui-sidebar-occupy-end, 0);
  will-change: auto;
  @include transition(padding .15s);
}

@media (min-width: 992px) {
  .sidebar:not(.hide):not(.sidebar-narrow):not(.sidebar-narrow-unfoldable:not(:hover)):not(.sidebar-narrow-unfoldable):not(.sidebar-overlaid):not(.sidebar-end)~ * {
    --cui-sidebar-occupy-start: 17rem;
  }
}

.header-nav button.flex {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-left: 6px;
}

.sidebar {
  --cui-sidebar-width: 17rem;
}

.header > .container-fluid,
.sidebar-header {
  min-height: calc(4rem + 1px); // stylelint-disable-line function-disallowed-list
}

.sidebar-header {
  .nav-underline-border {
    --cui-nav-underline-border-link-padding-x: 1rem;
    --cui-nav-underline-border-gap: 0;
  }

  .nav-link {
    display: flex;
    align-items: center;
    min-height: calc(4rem + 1px); // stylelint-disable-line function-disallowed-list
  }

  .sidebar-brand {
    margin: 0 auto;
    cursor: pointer;
  }
}

.sidebar-footer:hover {
  background-color: #272f3f;
}

.sidebar-toggler {
  margin-inline-start: auto;
}

.sidebar-narrow,
.sidebar-narrow-unfoldable:not(:hover) {
  .sidebar-toggler {
    margin-inline-end: auto;
  }
}

.header > .container-fluid + .container-fluid {
  min-height: 3rem;
}

.dropdown-menu.fix-width {
  width: 210px;
}

.card {
  border: none;
}

.no-bullet {
  padding: 10px 8px 0;
  display: flex;
  flex-direction: column;
  gap: 8px;

  li {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style-type: none;
  }
}

.sticky-card {
  position: sticky;
  top: 138px;
}

c-modal.img-modal c-modal-content.modal-content {
  background-color: transparent;
  border: none;
}

button.icon-notify {
  border: none;
  background-color: transparent;
  color: var(--cui-header-color);

  &:hover {
    color: var(--cui-header-hover-color);
  }

  c-badge.custom-badge {
    transform: translate(-100%, -100%) !important;
  }
}

.notification-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding: 4px 16px;
  min-width: 250px;

  &:hover {
    color: var(--cui-dropdown-link-hover-color);
    background-color: var(--cui-dropdown-link-hover-bg);
  }

  button {
    border: none;
    border-radius: 6px;
    padding: 0px 6px;
    transition: .2s;

    &:hover {
      background-color: var(--cui-primary);
      color: #fff;
    }
  }
}

c-container.scroll-x {
  overflow-x: auto;
  padding: 0;
  margin-bottom: 6px;
}

table {
  &.stripe tbody tr:nth-child(odd) {
    background-color: rgba(var(--cui-emphasis-color-rgb), 0.06);
  }

  &.table {
    background-color: transparent;
    vertical-align: middle;

    thead {
      th {
        text-wrap: nowrap;
        vertical-align: middle;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;

        &.color {
          background-color: var(--cui-primary) !important;
          color: rgb(255, 255, 255);
          border: none;

          .mat-sort-header-arrow>svg, .mat-sort-header-arrow [matSortHeaderIcon] {
            fill: rgb(255, 255, 255);
          }
        }
      }
    }

    tbody {
      tr {
        td {
          border: none;
          background-color: transparent;
          text-wrap: nowrap;

          &.code {
            background-color: rgba(var(--cui-emphasis-color-rgb), 0.04);
          }

          &.left {
            text-align: left;
          }

          &.center {
            text-align: center;
          }

          &.right {
            text-align: right;
            padding-right: 24px;
          }

          &.wrap {
            display: table-cell;
            min-width: 230px;
            text-wrap: wrap;

            button {
              &.left {
                text-align: left;
              }

              &.me-1 {
                padding: 0;
                margin: 0 !important;
              }
            }

          }

          &.btn-container {
            &.multiple {
              display: flex;
              flex-direction: row;
              flex-wrap: nowrap;
              gap: 3px;
            }

            .btn.custom-btn {
              padding: 6px 10px;
              border: none;

              &:hover {
                background-color: var(--cui-primary);

                &.delete {
                  background-color: #df2f2f;
                }
              }
            }
          }

          &.success {
            background-color: var(--cui-success-bg-subtle);
            color: var(--cui-success-text-emphasis);
            font-weight: 500;
          }

          &.warning {
            background-color: var(--cui-warning-bg-subtle);
            color: var(--cui-warning-text-emphasis);
            font-weight: 500;
          }

          &.danger {
            background-color: var(--cui-danger-bg-subtle);
            color: var(--cui-danger-text-emphasis);
            font-weight: 500;
          }

          .avatar-img {
            margin-right: 8px;
          }
        }
      }
    }
  }
}

html[data-coreui-theme=dark] table.table tbody tr td{
  &.success {
    background-color: #27AE60;
    color: var(--cui-body-color);
  }

  &.warning {
    background-color: #F4D03F;
    color: #1C1C1C;
  }

  &.danger {
    background-color: #C0392B;
    color: #FFFFFF;
  }
}

mat-form-field.search {
  margin-top: 16px;
  font-size: 14px;

  &.raw-materials {
    margin-top: 4px;
    width: 267px;
  }

  svg {
    margin: 0 6px 0 16px;
  }

  .mat-mdc-form-field-infix {
    min-height: initial;
    padding: 10px 0 8px;
  }
}

mat-paginator.pagination {
  background-color: transparent;
}

@media screen and (max-width: 720px) {
  mat-form-field.search.raw-materials {
    margin-top: 30px;
    margin-left: 30px;
    width: calc(100% - 60px);
  }
}

@media (max-width: 625px) {
  mat-paginator.pagination div div {
    justify-content: center;
  }
}

.accordion-button {
  padding: 10px 16px;
}

.form-control:focus {
  border-color: rgb(171, 175, 235);
  box-shadow: 0 0 0 0.25rem rgba(86, 120, 214, 0.25);
}

.footer {
  min-height: calc(3rem + 1px);
}

@media (min-width: 576px) {
  c-modal.img-modal .modal-dialog {
    max-width: initial;
    max-height: initial;
    margin-right: auto;
    margin-left: auto;
  }
}

@include color-mode(dark) {
  body {
    background-color: var(--cui-dark-bg-subtle);
  }

  .footer {
    --cui-footer-bg: var(--cui-body-bg);
  }
}
