.button-container {
  display: flex;
  gap: 4px;
  padding-bottom: 20px;

  button {
    color: #fff;
  }
}

.paper-container {
  width: 900px;
  height: 100%;
  margin-bottom: 30px;
  overflow: hidden;

  .alert-buttons {
    margin-top: 8px;

    button {
      color: #764705;
      border: 1px solid #966a2c;

      &:hover {
        background-color: #ebdab7 !important;
      }
    }
  }

  .paper {
    position: relative;
    width: 900px;
    min-height: 1480px;
    background-color: var(--cui-body-bg);
    padding: 20px;

    c-row {
      margin: 0;
    }

    c-col {
      border: 1px solid var(--cui-border-color-translucent);
      padding-bottom: .75rem;
      padding-top: .75rem;
      margin: 0 0 -1px -1px;

      .tab {
        display: flex;
        flex-direction: column;
        margin: 4px 0 0 30px;
      }
    }

    .align-center {
      text-align: center;
    }

    .bold {
      font-weight: 700;
    }

    .small {
      font-size: 12px;
    }

    .flex {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .flex-col {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .memorando-logo {
      width: 120px;
      height: 25px;
      margin: 6px 0 4px;
      background-image: var(--cui-memorando-logo);
      background-repeat: no-repeat;
    }

    .departments {
      padding: 20px 20px 14px 30px;

      c-form-check {
        margin-bottom: 12px;
        display: flex;
        gap: 12px;
      }
    }

    .missing-signatures {
      padding: 0 0 20px 30px;
    }

    .created-by-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 6px;
      margin-top: 100px;
      border: none;

      .created-by {
        max-width: 300px;
        text-align: center;
      }
    }

    .signature {
      border-bottom: 1px solid var(--cui-form-check-label-color, );
      min-width: 300px;
      max-width: 100%;
      padding: 0 20px;
      user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;

      .sign {
        text-align: center;
        text-wrap: none;

        font-family: "Bad Script", cursive;
        font-size: 17px;
        font-weight: 400;
        font-style: normal;
      }
    }
  }

  .label {
    position: absolute;
    bottom: 60px;
    right: 60px;
    font-family: 'Special Elite', monospace;
    font-size: 40px;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 20px;
    transform: rotate(4deg);
    letter-spacing: 2px;

    &.approved {
      color: #33b222;
      border: 3px solid #33b222;
    }

    &.canceled {
      color: #b22222;
      border: 3px solid #b22222;
    }

  }
}

.logs-container {
  margin-bottom: 30px;
  width: 100%;

  h4 {
    margin-bottom: 20px;
  }

  .logs {
    list-style-type: none;
    padding-left: 0;
    font-size: 15px;

      .time {
        color: var(--cui-secondary-color);
      }
  }
}

.form-check-input.fix:disabled,
.form-check-label.fix {
  opacity: 1;
}

.fix-button {
  color: #fff;
}

@media screen and (max-width: 1220px) {
  .paper-container {
    overflow-x: scroll;
    width: 100%;
  }

  .logs-container {
    text-wrap: nowrap;
    overflow-x: scroll;
  }
}

@media print {
  body * {
    visibility: hidden !important;
  }

  .print-area,
  .print-area * {
    visibility: visible !important;
  }

  .print-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  .print-area .paper {
    min-height: 1300px !important;
  }

  .print-area .paper .memorando-logo {
    width: 120px !important;
    height: 25px !important;
    display: block !important;
    background-image: url('/assets/images/brand/default-logo.svg') !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: contain !important;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .no-print {
    display: none !important;
  }

  .logs-container {
    page-break-before: auto;
  }

  .logs-container,
  .logs li {
    page-break-inside: avoid;
    break-inside: avoid;
  }
}
