.footer-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 420px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
