<c-container class="h-auto px-4" style="max-width: 1600px" fluid>
  <div class="sfc-welcome">
    <p class="ops-header">
      <span class="ops-welcome">Fluxo de Pedido de Venda</span>
      <span class="ops-access-level">Acompanhe o ciclo completo dos pedidos em tempo real</span>
    </p>

    @if (isAdmin) {
      <c-dropdown class="fix-dropdown">
        <button cDropdownToggle [caret]="false" class="view-mode-btn">
          <div [innerHTML]="steps[currentStepIndex].icon" class="view-mode-icon"></div>
          <div class="view-mode-text">
            <span>Visualizando como</span>
            {{ steps[currentStepIndex].title }}
          </div>
          <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="view-mode-carret">
            <path d="m6 9 6 6 6-6"></path>
          </svg>
        </button>
        <div cDropdownMenu class="dropdown-step-container">
          @for(step of steps; track step.id; let i = $index) {
            @if (i == 0) {
              <span cDropdownItemPlain class="dropdown-step-type">Perfil de acesso</span>
            }

            @if (i == 1) {
              <li><hr cDropdownDivider></li>
              <span cDropdownItemPlain class="dropdown-step-type">Setor</span>
            }

            <button cDropdownItem [class.custom-active]="i == currentStepIndex" (click)="setCurrentStepIndex(i)">
              <div [innerHTML]="step.icon"></div>
              <span class="dropdown-step-title">{{ step.title }}</span>
              <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" [class.show]="currentStepIndex == i" class="active-icon">
                <circle cx="12" cy="12" r="10"></circle>
                <path d="m9 12 2 2 4-4"></path>
              </svg>
            </button>
          }
        </div>
      </c-dropdown>
    }

    @if (isShipping) {
      <c-dropdown class="fix-dropdown">
        <button cDropdownToggle [caret]="false" class="view-mode-btn">
          <div [innerHTML]="steps[currentStepIndex].icon" class="view-mode-icon"></div>
          <div class="view-mode-text">
            <span>Visualizando como</span>
            {{ steps[currentStepIndex].title }}
          </div>
          <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="view-mode-carret">
            <path d="m6 9 6 6 6-6"></path>
          </svg>
        </button>
        <div cDropdownMenu class="dropdown-step-container">
          <span cDropdownItemPlain class="dropdown-step-type">Setor</span>
          @for(step of steps; track step.id; let i = $index) {
            @if (i == 1 || i == 5) {
              <button cDropdownItem [class.custom-active]="i == currentStepIndex" (click)="setCurrentStepIndex(i)">
                <div [innerHTML]="step.icon"></div>
                <span class="dropdown-step-title">{{ step.title }}</span>
                <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" [class.show]="currentStepIndex == i" class="active-icon">
                  <circle cx="12" cy="12" r="10"></circle>
                  <path d="m9 12 2 2 4-4"></path>
                </svg>
              </button>
            }

          }
        </div>
      </c-dropdown>
    }
  </div>

  @switch (currentStepIndex) {
    @case (-1) {
      <div class="access-error">Seu setor não faz parte do fluxo de pedido de venda!</div>
    }

    @case (0) {
      <div class="sfc-resume">
        @for (item of resume; track item.id) {
          <c-card class="step-card total" [class.pointer]="item.title != 'Total de pedidos'" [style]="'border-left: 4px solid ' + item.color" (click)="searchForStatus(item.title)">
            <c-card-body>
              <div class="title-container">
                <h6>{{ item.title }}</h6>
                <div class="icon" [style]="'background-color: ' + item.color + '17'" [innerHTML]="item.icon"></div>
              </div>
              <p class="main-value" [style]="'color:' + item.color"><strong>{{ item.value }}</strong></p>
              <span class="description">{{ item.description }}</span>
            </c-card-body>
          </c-card>
        }
      </div>

      <c-card class="sfc-card border">
        <c-card-body>
          <div class="sfc-header">
            <span class="sfc-title">Etapas do Fluxo</span>
            <span class="sfc-description">Processo padrão de processamento de pedidos</span>
          </div>

          <div class="sfc-body sfc-collapse">
            @for(step of steps; track step.id; let i = $index) {
              @if (step.id != 0) {
                @if (i != 1) {
                  <div class="arrow-divider">
                    <svg width="26" height="26" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                      <path d="m6 9 6 6 6-6"></path>
                    </svg>
                  </div>
                }

                <div class="step-box" (click)="filterByStep(step.title)">
                  <div class="step-icon" [innerHtml]="step.icon"></div>
                  <div class="step-text">
                    <div class="step-title">{{ step.title }}</div>
                    <div class="step-description">{{ step.description }}</div>
                  </div>
                  <div class="badges">
                    @if (step.count) {
                      <div class="badge info">{{ step.count }} ativos</div>
                    }
                  </div>
                </div>
              }
            }
          </div>
        </c-card-body>
      </c-card>
    }

    @default {
      <div class="sfc-default-sub-header">
        <div class="sfc-step-page-icon">
          <div class="step-icon" [innerHtml]="steps[currentStepIndex].icon"></div>
          <div class="step-text">
            <div class="step-title">{{ steps[currentStepIndex].title }}</div>
            <div class="step-description">{{ steps[currentStepIndex].description }}</div>
          </div>
        </div>

        @if (currentStepIndex == 1) {
          <button cButton (click)="toggleNewModal(true)">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M5 12h14"></path>
              <path d="M12 5v14"></path>
            </svg>
            Novo registro
          </button>
        }
      </div>

      <div class="sfc-sub-title">
        <hr>
        <span>Fila de Trabalho</span>
      </div>

      @if (!loading) {
        <div class="scroll">
          <table class="card-table">
            <thead>
              <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>

              @for (item of currentStepData; track item.id) {
                <tr (click)="openCurrentStepOrder(item.id)">
                  <td>
                    <div class="custom-cell">
                      <div class="custom-cell-status" [class.late]="item.status == 'late'"></div>
                      <div>
                        <div class="custom-cell-title">Pedido</div>
                        <div class="custom-cell-order">{{ item.number }}</div>
                      </div>
                    </div>
                  </td>

                  <td>
                    <div>
                      <div class="custom-cell-title">Quantidade</div>
                      <div>{{ item.quantity }}</div>
                    </div>
                  </td>

                  <td>
                    <div>
                      <div class="custom-cell-title">Cliente</div>
                      <div>{{ item.client | truncate: 35 }}</div>
                    </div>
                  </td>

                  <td>
                    <div>
                      <div class="custom-cell-title">Prev. Entrega</div>
                      <div>{{ item.dueDate }}</div>
                    </div>
                  </td>

                  <td>
                    <div class="badge" [class.late]="item.status == 'Atrasado'">
                      <div class="bullet"></div>
                      {{ item.status }}
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="m9 18 6-6-6-6"></path>
                      </svg>
                    </div>
                  </td>
                </tr>
              } @empty {
                <i class="custom-error">Nenhum pedido para tratar.</i>
              }

            </tbody>
          </table>
        </div>
      } @else {
        <i class="custom-error">Carregando...</i>
      }

      <div class="sfc-sub-title">
        <hr>
        <span>Resumo dos pedidos</span>
      </div>

      <app-step-flow-input-offcanvas
        #stepFlowInputOffcanvas
        [isAdmin] = "isAdmin"
        [steps]="steps"
        (nextStepTask)="onNextStep($event)"
        (reloadOrders)="reloadOrders()"
      ></app-step-flow-input-offcanvas>
      <app-new-step-flow-modal [visible]="showNewModal" (closeModal)="toggleNewModal(false)" (createNewOrder)="createNewOrder($event)"></app-new-step-flow-modal>
    }
  }

  <c-card class="sfc-card border">
    <c-card-body>
      <div class="sfc-header">
        <span class="sfc-title">Visão Geral dos Pedidos</span>
        <span class="sfc-description">{{ totalItems }} pedidos encontrados</span>
      </div>

      <div class="sfc-table">
        <app-step-flow-table
          [data]="dataTable"
          [loading]="loadingTable"
          [searchValue]="currentSearch ?? ''"
          (openInfoTask)="openOrder($event)"
          (sorterChange)="onSorterChange($event)"
          (itemsPerPageChange)="onItemsPerPageChange($event)"
          (filterChange)="onFilterChange($event)"
          [selectedStep]="currentStepFilter ?? ''"
          (stepFilterChange)="onStepFilterChange($event)"
          (clearAll)="onClearAll()"
        />

        <c-smart-pagination
          [activePage]="currentPage"
          [pages]="totalPages"
          (activePageChange)="onPageChange($event)"
        />
      </div>

    </c-card-body>
  </c-card>

  <app-step-flow-offcanvas #stepFlowOffcanvas [isAdmin]="isAdmin"></app-step-flow-offcanvas>
</c-container>
