<form [formGroup]="createForm" (ngSubmit)="onSubmit()" autocomplete="off">
  <h4 class="mb-4">Novo usuário</h4>

  <c-row class="align-items-start">
    <c-col>
      <div class="avatar-container">
        <div class="image-container" [class.shadow]="file" *ngIf="file; else placeholder"
        [ngStyle]="{backgroundImage: 'url(' + file + ')'}">
        </div>

        <ng-template #placeholder>
          <div class="image-container avatar-placeholder"></div>
        </ng-template>

        <label for="fileInput">
          <div class="icon-wrapper">
            <input #fileInput id="fileInput" type="file" accept="image/*" (change)="onFileChange($event)" />
            <svg [cIcon]="icons.cilPencil" size="lg" title="List Icon"></svg>
          </div>
        </label>

        @if (file) {
          <button type="button" class="delete-icon" (click)="removePicture()">
            <svg [cIcon]="icons.cilX" size="lg" title="List Icon"></svg>
          </button>
        }
      </div>

      @if (createForm.get('picture')?.errors?.['invalidImageType']) {
        <div class="text-danger">
          Apenas imagens são permitidas
        </div>
      }
      @if (createForm.get('picture')?.errors?.['imageTooLarge']) {
        <div class="text-danger">
          A imagem deve ter no máximo 2MB
        </div>
      }
      @if (createForm.get('picture')?.errors?.['invalidFormat']) {
        <div class="text-danger">
          Formato inválido
        </div>
      }

      <c-modal id="modal" [visible]="modalReady" (visibleChange)="handleModalChange($event)" backdrop="static" alignment="center">
        <c-modal-header>
          <svg [cIcon]="icons.cilPencil" class="modal-title-icon" size="lg"></svg>
          <h5 cModalTitle>Nova imagem</h5>
          <button (click)="toggleModal(true)" cButtonClose></button>
        </c-modal-header>

        <c-modal-body>
          <image-cropper
            [imageChangedEvent]="imageChangedEvent"
            [maintainAspectRatio]="true"
            [aspectRatio]="1 / 1"
            [resizeToWidth]="256"
            format="png"
            (imageCropped)="imageCropped($event)">
          </image-cropper>
        </c-modal-body>

        <c-modal-footer>
          <button cButton color="secondary" (click)="toggleModal(true)">
            Cancelar
          </button>
          <button cButton color="primary" (click)="processImage()">Salvar</button>
        </c-modal-footer>
      </c-modal>

      <div class="username">
        <h3>{{ createForm.get('name')?.value ? createForm.get('name')?.value : 'Nome Sobrenome' }}</h3>
        <h3><span>{{ createForm.get('position')?.value != 0 ? getPositionName(createForm.get('position')?.value) : '' }}</span></h3>
      </div>
    </c-col>

    <c-col>
      <div cFormFloating class="mb-3">
        <input cFormControl formControlName="name" [valid]="!showErrors ? undefined: createForm.get('name')?.errors != null ? false : undefined" id="name" type="text" placeholder="Nome" />
        <label cLabel for="name">Nome</label>
      </div>
      <div cFormFloating class="mb-3">
        <select cSelect formControlName="position" id="position" class="form-select">
          <option disabled></option>
          @for (item of positions; track item.id) {
            <option [value]="item.id" >{{ item.name }}</option>
          } @empty {
            <option disabled>Lista vazia</option>
          }
        </select>
        <label cLabel for="position" [class.fix-float]="createForm.get('position')?.value == 0">Departamento</label>
      </div>
      <div cFormFloating class="mb-3">
        <input cFormControl formControlName="email" [valid]="!showErrors ? undefined: createForm.get('email')?.errors != null ? false : undefined" id="email" type="email" placeholder="E-mail" />
        <label cLabel for="email">E-mail</label>
      </div>
      <div cFormFloating class="mb-3">
        <c-date-picker [calendarDate]="birthDate" placeholder="Selecione" formControlName="birthDate"></c-date-picker>
        <label cLabel class="fix-floating-label">Nascimento</label>
      </div>
      <div cFormFloating class="mb-3">
        <input cFormControl formControlName="username" [valid]="!showErrors ? undefined: createForm.get('username')?.errors != null ? false : undefined" id="nUN" type="text" placeholder="Nome de usuário" autocomplete="new-username" />
        <label cLabel for="nUN">Nome de usuário</label>
      </div>
      <div cFormFloating class="mb-3">
        <input
          cFormPassword
          formControlName="password"
          [valid]="!showErrors ? undefined: createForm.get('password')?.errors != null ? false : undefined"
          type="password"
          placeholder="Senha"
          autocomplete="new-password"
          floatingLabel="Senha"
        />
      </div>
      <div cFormFloating class="mb-3">
        <input
          cFormPassword
          formControlName="repeatPassword"
          [valid]="!showErrors ? undefined: createForm.get('password')?.errors != null ? false : createForm.hasError('passwordMismatch') ? false : undefined"
          id="repeatPassword"
          type="password"
          placeholder="Repetir senha"
          autocomplete="new-password"
          floatingLabel="Repetir senha"
        />
      </div>
      @if (createForm.hasError('passwordMismatch') && createForm.touched) {
        <div class="text-danger">
          As senhas não coincidem
        </div>
      }
      <c-multi-select multiple placeholder="Acessos" [selectAll]="false" formControlName="roles" class="custom-select">
        @for (role of roles; track role.title) {
          <c-multi-select-optgroup [label]="role.title">
            @for (option of role.childrens; track option.id) {
              <c-multi-select-option [value]="option.id">
                {{ option.authority }}
              </c-multi-select-option>
            }
          </c-multi-select-optgroup>
        }
      </c-multi-select>
      <div cFormFloating class="mb-3 fix-margin">
        <input cFormControl formControlName="supportToken" id="supportToken" type="text" placeholder="Token" />
        <label cLabel for="supportToken">Token de suporte</label>
      </div>
      <c-form-check>
        <input cFormCheckInput formControlName="disabled" id="checkOne" type="checkbox" />
        <label cFormCheckLabel for="checkOne">Desativar usuário</label>
      </c-form-check>
    </c-col>
  </c-row>

  <div class="button-container">
    <button cButton (click)="onExit()" color="secondary">Cancelar</button>
    <button cButton type="submit" color="primary">Criar</button>
  </div>
</form>
