<form [formGroup]="editForm" (ngSubmit)="onSubmit()" autocomplete="off">
  <h4 class="mb-4">Editar usuário</h4>

  <c-row class="align-items-start">
    <c-col>
      <div class="avatar-container">
        <div class="image-container" *ngIf="file; else placeholder"
        [ngStyle]="{backgroundImage: 'url(' + file + ')'}">
        </div>
        <ng-template #placeholder>
          <div class="image-container avatar-placeholder"></div>
        </ng-template>
        <label for="fileInput2">
          <div class="icon-wrapper">
            <input #fileInput2 id="fileInput2" type="file" accept="image/*" (change)="onFileChange($event)" />
            <svg [cIcon]="icons.cilPencil" size="lg" title="List Icon"></svg>
          </div>
        </label>
        @if (file) {
          <button type="button" class="delete-icon" (click)="removePicture()">
            <svg [cIcon]="icons.cilX" size="lg" title="List Icon"></svg>
          </button>
        }
      </div>
      @if (editForm.get('picture')?.errors?.['invalidImageType']) {
        <div class="text-danger">
          Apenas imagens são permitidas
        </div>
      }
      @if (editForm.get('picture')?.errors?.['imageTooLarge']) {
        <div class="text-danger">
          A imagem deve ter no máximo 2MB
        </div>
      }
      <c-modal id="modal2" [visible]="modalReady" (visibleChange)="handleModalChange($event)" backdrop="static" alignment="center">
        <c-modal-header>
          <svg [cIcon]="icons.cilPencil" class="modal-title-icon" size="lg"></svg>
          <h5 cModalTitle>Nova imagem</h5>
          <button (click)="toggleModal(true)" cButtonClose></button>
        </c-modal-header>
        <c-modal-body>
          <image-cropper
            [imageChangedEvent]="imageChangedEvent"
            [maintainAspectRatio]="true"
            [aspectRatio]="1 / 1"
            [resizeToWidth]="256"
            format="png"
            (imageCropped)="imageCropped($event)">
          </image-cropper>
        </c-modal-body>
        <c-modal-footer>
          <button cButton color="secondary" (click)="toggleModal(true)">
            Cancelar
          </button>
          <button cButton color="primary" (click)="processImage()">Salvar</button>
        </c-modal-footer>
      </c-modal>

      <h3 class="username">
        {{ editForm.get('name')?.value ? editForm.get('name')?.value : 'Nome Sobrenome' }}
      </h3>
    </c-col>
    <c-col>
      <div [cFormFloating]="true" class="mb-3">
        <input cFormControl formControlName="name" [valid]="!showErrors ? undefined: editForm.get('name')?.errors != null ? false : undefined" id="name2" type="text" placeholder="Nome" />
        <label cLabel for="name2">Nome</label>
      </div>
      <div [cFormFloating]="true" class="mb-3">
        <select cSelect formControlName="position" id="position2" [class.custom-float]="userData.positionId != 0">
          <option disabled></option>
          @for (item of positions; track item.id) {
            <option [value]="item.id" >{{ item.name }}</option>
          } @empty {
            <option disabled>Lista vazia</option>
          }
        </select>
        <label cLabel for="position2">Departamento</label>
      </div>
      <div cFormFloating class="mb-3">
        <input cFormControl formControlName="email" [valid]="!showErrors ? undefined: editForm.get('email')?.errors != null ? false : undefined" id="email2" type="email" placeholder="E-mail" />
        <label cLabel for="email2">E-mail</label>
      </div>
      <div cFormFloating class="mb-3">
        <input cFormControl formControlName="birthDate" [valid]="!showErrors ? undefined: editForm.get('birthDate')?.errors != null ? false : undefined" id="bithDate2" type="date" placeholder="Data de nascimento" />
        <label cLabel for="bithDate2">Data de nascimento</label>
      </div>
      <div cFormFloating class="mb-3">
        <input cFormControl formControlName="username" [valid]="!showErrors ? undefined: editForm.get('username')?.errors != null ? false : undefined" id="nUN2" type="text" placeholder="Nome de usuário" autocomplete="new-username" />
        <label cLabel for="nUN2">Nome de usuário</label>
      </div>
      <div cFormFloating class="mb-3">
        <input cFormControl formControlName="password" [valid]="!showErrors ? undefined: editForm.get('password')?.errors != null ? false : undefined" id="nPW2" type="password" placeholder="Nova senha" autocomplete="new-password" />
        <label cLabel for="nPW2">Nova senha</label>
      </div>
      <div cFormFloating>
        <input cFormControl formControlName="repeatPassword" [valid]="!showErrors ? undefined: editForm.get('password')?.errors != null ? false : editForm.hasError('passwordMismatch') ? false : undefined" id="repeatPassword2" type="password" placeholder="Senha" autocomplete="new-password" />
        <label cLabel for="repeatPassword2">Repetir senha</label>
      </div>
      @if (editForm.hasError('passwordMismatch') && editForm.touched) {
        <div class="text-danger">
          As senhas não coincidem
        </div>
      }
      <div cFormFloating class="mb-3 fix-margin">
        <input cFormControl formControlName="roles" id="roles2" type="text" placeholder="Acessos" />
        <label cLabel for="roles2">Acessos</label>
      </div>
      <c-form-check>
        <input cFormCheckInput formControlName="disabled" id="checkOne2" type="checkbox" />
        <label cFormCheckLabel for="checkOne2">Desativar usuário</label>
      </c-form-check>
    </c-col>
  </c-row>

  <div class="button-container">
    <button cButton (click)="onExit()" color="secondary">Cancelar</button>
    <button cButton type="submit" color="primary">Salvar</button>
  </div>
</form>
