@if (post.pictures.length == 1) {
  <c-modal modalBackNavigation [id]="'modal-' + post.id" [visible]="visible" (visibleChange)="onVisibleChange($event)" alignment="center" class="img-modal">
    <c-modal-body class="img-modal-body">
      <div style="position: relative">
        <button (click)="close.emit()" class="modal-img-btn" cButtonClose></button>
        <img cCardImg="bottom" [src]="apiUrl + '/images/' + post.pictures[0].id" />
      </div>
    </c-modal-body>
  </c-modal>
}

@if (post.pictures.length > 1) {
  <c-modal modalBackNavigation [id]="'modal-' + post.id" [visible]="visible" (visibleChange)="onVisibleChange($event)" alignment="center" class="img-modal">
    <c-modal-body class="img-modal-body">

      @if (ready) {
        <ng-container>
        <c-carousel class="img-carousel" [activeIndex]="index" [animate]="false" [interval]="0" [wrap]="false" (itemChange)="selectSlide($event)">
          <button (click)="close.emit()" class="modal-img-btn" cButtonClose></button>
          <c-carousel-indicators />
          <c-carousel-inner>

            @for (slide of slides; track slide.id; let slideIndex = $index) {
              <c-carousel-item [class.current-slide]="slideIndex === index">
                <img [src]="slide.src" alt="" decoding="async" loading="eager" />
              </c-carousel-item>
            }

          </c-carousel-inner>
          <c-carousel-control [routerLink] caption="Previous" direction="prev" />
          <c-carousel-control [routerLink] caption="Next" direction="next" />
        </c-carousel>
      </ng-container>
      }

    </c-modal-body>
  </c-modal>
}
