<c-card class="border" [class.warning]="post.isWarning">
  <c-card-body>
    <c-container class="flex" [class.margin]="post.content">
      <c-avatar
        shape="rounded-1"
        size="xl"
        [src]="post.author.picture ? post.author.picture.id ? apiUrl + '/images/' + post.author.picture.id : './assets/images/avatars/default.png' : './assets/images/avatars/default.png'"
        textColor="primary"
        alt="User avatar"
      />
      <c-container>
        <p cCardText class="no-margin">
          <strong>{{ post.author.name }}</strong>
          {{ post.author.position.name }}
        </p>
        <p cCardText>
          <small class="text-medium-emphasis">{{ post.createdAt | timeAgo }}</small>
        </p>
      </c-container>

      @if (canPost) {
        <c-dropdown alignment="end">
          <button [caret]="false" cButton cDropdownToggle class="p-0 option-btn" color="transparent">
            <svg viewBox="0 0 20 20" width="20" height="20" fill="currentColor" aria-hidden="true">
              <g fill-rule="evenodd" transform="translate(-446 -350)">
                <path d="M458 360a2 2 0 1 1-4 0 2 2 0 0 1 4 0m6 0a2 2 0 1 1-4 0 2 2 0 0 1 4 0m-12 0a2 2 0 1 1-4 0 2 2 0 0 1 4 0"></path>
              </g>
            </svg>
          </button>

          <ul cDropdownMenu>
            <li cDropdownItem class="dropdown-item" (click)="onEdit(post.id)">
              <svg [cIcon]="icons.cilPencil"></svg>
              Editar
            </li>
            <li cDropdownItem (click)="onDelete(post.id)">
              <svg [cIcon]="icons.cilTrash"></svg>
              Apagar
            </li>
          </ul>
        </c-dropdown>
      }
    </c-container>
    @if (post.content) {
      <p cCardText [innerHtml]="post.content"></p>
    }
  </c-card-body>

  <div class="post-images" >

    @if (post.pictures.length == 1) {
      <img cCardImg="bottom" (click)="openCarousel(0)" [cModalToggle]="'modal-' + post.id" [src]="apiUrl + '/images/' + post.pictures[0].id" />
    }

    @if (post.pictures.length > 1 && post.pictures.length <= 3) {
      <c-row>
        @for (picture of post.pictures; track picture.id; let i = $index) {
          <c-col>
            <img cCardImg="bottom" (click)="openCarousel(i)" [cModalToggle]="'modal-' + post.id" [src]="apiUrl + '/images/' + picture.id" />
          </c-col>
        }
      </c-row>
    }

    @if (post.pictures.length > 3) {
      <div class="four-grid">
        <c-row>
          <c-col>
            <img cCardImg="bottom" (click)="openCarousel(0)" [cModalToggle]="'modal-' + post.id" [src]="apiUrl + '/images/' + post.pictures[0].id" />
          </c-col>
          <c-col>
            <img cCardImg="bottom" (click)="openCarousel(1)" [cModalToggle]="'modal-' + post.id" [src]="apiUrl + '/images/' + post.pictures[1].id" />
          </c-col>
        </c-row>
        <c-row>
          <c-col>
            <img cCardImg="bottom" (click)="openCarousel(2)" [cModalToggle]="'modal-' + post.id" [src]="apiUrl + '/images/' + post.pictures[2].id" />
          </c-col>
          <c-col>
            <img cCardImg="bottom" (click)="openCarousel(3)" [cModalToggle]="'modal-' + post.id" [src]="apiUrl + '/images/' + post.pictures[3].id" />

              @if (post.pictures.length > 4) {
                <div class="overlay" (click)="openCarousel(3)" [cModalToggle]="'modal-' + post.id">
                  +{{ post.pictures.length - 4 }}
                </div>
              }

          </c-col>
        </c-row>
      </div>
    }

    <app-image [post]="post" [index]="slideIndex" [ready]="carouselReady"></app-image>
  </div>
</c-card>
