<c-row>
  <c-col xs="12">
    <c-card class="border">
      <c-card-body>
        <h4 cCardTitle>Registros de Comunicação Interna</h4>
        <c-tabs [activeItemKey]="activeItemKey" (activeItemKeyChange)="onTabChange($event)" class="header-space">
          <c-tabs-list variant="underline-border">
            <button cTab [itemKey]="0">Publicados</button>
            <button cTab [itemKey]="1" [class.no-select]="canceledCI.length <= 0" [disabled]="canceledCI.length <= 0">Cancelados</button>
            <button cTab [itemKey]="2" [class.no-select]="savedCI.length <= 0" [disabled]="savedCI.length <= 0">Salvos</button>
            <button cTab [itemKey]="3" [class.hide]="!newCITab" class="close-button">
              Novo registro
              <div (click)="toggleNewCITab(false)">
                <svg [cIcon]="icons.cilX" class="close-icon"></svg>
              </div>
            </button>
          </c-tabs-list>
          <c-tabs-content>
            <c-tab-panel class="p-3 remove-outline" [itemKey]="0">
              <button cButton color="primary" (click)="toggleCIModal(true)">
                <svg [cIcon]="icons.cilPlus" size="md"></svg>
                Adicionar
              </button>
              <app-ci-table [data]="publishedCI" [noMargin]="true"></app-ci-table>
            </c-tab-panel>

            <c-tab-panel class="p-3 remove-outline" [itemKey]="1">
              <button cButton color="primary" (click)="toggleCIModal(true)">
                <svg [cIcon]="icons.cilPlus" size="md"></svg>
                Adicionar
              </button>
              <app-ci-table [data]="canceledCI" [noMargin]="true"></app-ci-table>
            </c-tab-panel>

            <c-tab-panel class="p-3 remove-outline" [itemKey]="2">
              <button cButton color="primary" (click)="toggleCIModal(true)">
                <svg [cIcon]="icons.cilPlus" size="md"></svg>
                Adicionar
              </button>
              <app-ci-table [data]="savedCI" [noMargin]="true"></app-ci-table>
            </c-tab-panel>

            <c-tab-panel class="p-3 remove-outline" [itemKey]="3">
              <app-ci-form [items]="itemsToCreateCI" (exitTask)="toggleNewCITab(false)" (createTask)="createNewCI($event)"></app-ci-form>
            </c-tab-panel>
          </c-tabs-content>
        </c-tabs>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>

<app-new-ci-modal [visible]="showCIModal" (closeModal)="toggleCIModal(false)" (createNewCI)="openCreateTab($event)"></app-new-ci-modal>
