@use "charts";
@use "scrollbar";

:root {
  --cui-primary: #3069b3;
  --cui-link-color-rgb: 40, 91, 158;
  --cui-link-hover-color-rgb: 3, 86, 196;
  --cui-link-color: rgb(40, 91, 158);
  --cui-link-hover-color: rgb(12, 113, 245);
}
