@use "charts";
@use "scrollbar";

:root {
  --cui-primary: #3069b3;
  --cui-link-color-rgb: 40, 91, 158;
  --cui-link-hover-color-rgb: 3, 86, 196;
  --cui-link-color: rgb(40, 91, 158);
  --cui-link-hover-color: rgb(12, 113, 245);
  --cui-primary-text-emphasis: #ffffff;
  --cui-primary-bg-subtle: #3069b3;
}

.btn-primary {
  --cui-btn-bg: #285ea5;
  --cui-btn-hover-bg: rgb(37, 114, 214);
}

.btn-close {
  --cui-btn-close-focus-shadow: 0 0 0 0.25rem rgba(32, 81, 216, 0.25);
}

.accordion {
  --cui-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(32, 81, 216, 0.25);
}
