@use "@coreui/coreui/scss/mixins/transition" as *;
@use "@coreui/coreui/scss/mixins/color-mode" as *;

body {
  background-color: var(--cui-tertiary-bg);
}

.wrapper {
  width: 100%;
  padding-inline: var(--cui-sidebar-occupy-start, 0) var(--cui-sidebar-occupy-end, 0);
  will-change: auto;
  @include transition(padding .15s);
}

@media (min-width: 992px) {
  .sidebar:not(.hide):not(.sidebar-narrow):not(.sidebar-narrow-unfoldable:not(:hover)):not(.sidebar-narrow-unfoldable):not(.sidebar-overlaid):not(.sidebar-end)~ * {
    --cui-sidebar-occupy-start: 17rem;
  }
}

.sidebar {
  --cui-sidebar-width: 17rem;
}

.header > .container-fluid,
.sidebar-header {
  min-height: calc(4rem + 1px); // stylelint-disable-line function-disallowed-list
}

.sidebar-header {
  .nav-underline-border {
    --cui-nav-underline-border-link-padding-x: 1rem;
    --cui-nav-underline-border-gap: 0;
  }

  .nav-link {
    display: flex;
    align-items: center;
    min-height: calc(4rem + 1px); // stylelint-disable-line function-disallowed-list
  }

  .sidebar-brand {
    margin: 0 auto;
    cursor: pointer;
  }
}

.sidebar-footer:hover {
  background-color: #272f3f;
}

.sidebar-toggler {
  margin-inline-start: auto;
}

.sidebar-narrow,
.sidebar-narrow-unfoldable:not(:hover) {
  .sidebar-toggler {
    margin-inline-end: auto;
  }
}

.header > .container-fluid + .container-fluid {
  min-height: 3rem;
}

.dropdown-menu.fix-width {
  width: 210px;
}

.card {
  border: none;
}

.no-bullet {
  padding: 10px 8px 0;
  display: flex;
  flex-direction: column;
  gap: 8px;

  li {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style-type: none;
  }
}

.sticky-card {
  position: sticky;
  top: 138px;
}

c-modal.img-modal c-modal-content.modal-content {
  background-color: transparent;
  border: none;
}

button.icon-notify {
  border: none;
  background-color: transparent;
  margin-right: 8px;
  color: var(--cui-header-color);

  &:hover {
    color: var(--cui-header-hover-color);
  }

  c-badge.translate-middle {
    transform: translate(-60%, -100%) !important;
  }
}

.footer {
  min-height: calc(3rem + 1px); // stylelint-disable-line function-disallowed-list
}

@media (min-width: 576px) {
  c-modal.img-modal .modal-dialog {
    max-width: initial;
    max-height: initial;
    margin-right: auto;
    margin-left: auto;
  }
}

@include color-mode(dark) {
  body {
    background-color: var(--cui-dark-bg-subtle);
  }

  .footer {
    --cui-footer-bg: var(--cui-body-bg);
  }
}
